<div class="alert alert-success col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= flash[:success] unless flash[:success].blank? %>
  <%= flash[:error] unless flash[:error].blank? %>
</div>

<div class="showproduct">
  <div class="row">
    <div class="col-sm-12 col-md-12">


      <% cache @product do %>
        <h2>
          <%= @product.name %>
        </h2>

          

              <div class="col-xs-12 col-sm-12 col-md-6 parent">
                <%= link_to(image_tag(@product.image_url, width: "350", class: "img-zoom", data_zoom_image: @product.image_url))%>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  
                  <div class="proddesc">
                     <p>
                      <strong>Description:</strong>
                      <%= @product.description %>
                    </p>

                    <p>
                      <strong>Color:</strong>
                      <%= @product.color %>
                    </p>

                    <p>
                      <strong>Price:</strong>
                      <%= number_to_currency(@product.price.to_f / 100.0) %>
                    </p>

                    <p>
                      <strong>Image url:</strong>
                      <%= @product.image_url %>
                    </p>
        <% end %>
      
                  


                  <div class="prodbutton">
                    
                    <% if signed_in? && current_user.admin? %>
                    <button><%= link_to 'Edit Product', edit_product_path(@product) %> </button>
                    <% end %>
                    <button><%= link_to 'Back to Products Listing', products_path %></button>
                  </div>
                </div>
                </div>

              </div>




              <!-- new comment show -->
              <div class="col-xs-12 col-sm-12 col-md-6">
                 <h3>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </h3>

                <!-- stripe code pay with card -->
                <%= form_tag "/payments/create" do %>
                  <%= render partial: "shared/stripe_checkout_button" %>
                <% end %>
                

                  <%= render "new_comment" %>
                  <%= render "comments" %>


            

      </div>
    </div>
  </div>